/*Index*/
.intro{  /*Adds Background gif to top of index page*/
    background-image: url("img/underwater-gif.gif"); /*Gif Source: https://i.gifer.com/KT3p.gif*/
    height: 360px;
    background-repeat:  round;
}

.overview { /*Adds color for overview background*/
    background-color: #4C6AFF;
}

.index-body { /*Adds a gradient background color*/
    background-image: linear-gradient(0deg, #020024 0%, #090979 35%, #0392CC 100%);
}

.main-timeline{ /*Postions the overall timeline correctly*/
    position: relative;
}

.timeline { /*Postions the timeline cards correctly*/
    position: relative;
    width: 40%;
}
  
  .card { /*Creates color and border for timeline cards*/
    background-color: #a1cdf9;
    border: 3px solid #1eb0ff;
  }

  .left { /*Positioning for left timeline cards*/
    padding: 0px 40px 20px 0px;
  }
  .right { /*Positioning for right timeline cards*/
    padding: 0px 0px 20px 40px;
    left: 60%;
  }


.sub-anim { /*Sets animation for sub at bottom of paage*/
    animation: sub 10s linear infinite;
}

.time-sub { /*Makes sub in the timeline sway back and forth and sets postion for sticky feature*/
    animation: timelinesub 2s linear infinite;
    animation-direction: alternate;
    overflow: clip;
    top: 30%;
}


@keyframes sub { /*Annimation for the sub that crosses the bottom of the page*/
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes timelinesub { /*Swaying annimation for the sub that moves vertically*/
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}



/*Submarine*/

@keyframes pop-in { /* Pop up animation keyframe */
    0% { opacity: 0; transform: scale(0.1); }
    100% { opacity: 1; transform: scale(1); }
}

.submarine { /**/
    position: relative;
    width: 40%;
}

.popout{  /* Ruleset for popout animation for info cards*/
    animation:pop-in 0.5s;
}

.submarine-body { /* Gradient Background for Submarine Page*/
    max-width:100%;
    height:auto;
    max-height:100%;
    background: linear-gradient(0deg, #020024 0%, #090979 35%, #0392CC 100%);
}

.text-container{ /* Specifies width for text containers*/
    width: 50%
}

.about-sub { /* Specifies animation properties for moving submarine image*/
    animation: timelinesub  linear infinite;
    animation-direction: alternate;
    overflow: clip;
    top: 3%;
}

/*Pricing*/

.cardabout:hover {  /*create a hover effect (increase card size and change border color) for pricing cards*/
    transform: scale(1.1);
    transition: transform 0.2s ease;
    border:3px solid rgb(255, 140, 0);
  }
  .card-body { /*background color for card body*/
    background-color:rgb(181, 196, 238);
  }


button{ /*creates the "Pay Now" button*/
    background-color:rgb(255, 140, 0);
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardabout { /* Creates standard size and spacing for the cards */
    width: 75ch;
    max-width: 700px;
    row-gap: 1ch;
    border: 3px solid black;
}

/*Other*/

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}


.footer{
    background-color: #16419e; /* footer background */
}

.icon-white {  /* Color for icons */
    color: #FFF;
}

.nb-background-color {  /* navbar background color */
    background-image: linear-gradient(0deg, #0367b5 0%, #0287c5 35%, #bcdaea 100%);
}

.nbMenuItem {   
            /* navbar link text properties */
    color:white;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.row { 
    justify-content: center;
}

* {
 font-family: Montserrat;  
}
