
/* -------------------- Index ---------------------*/

.intro{  /*Adds Background gif to top of index page*/
    background-image: url("img/underwater-gif.gif"); /*Gif Source: https://i.gifer.com/KT3p.gif*/
    height: 360px;
    background-repeat:  round;
}

.overview { /*Adds color for overview background*/
    background-color: #4C6AFF;
}

.index-body { /*Adds a gradient background color*/
    background-image: linear-gradient(0deg, #020024 0%, #090979 35%, #0392CC 100%);
}

.main-timeline{ /*Postions the overall timeline correctly*/
    position: relative;
}

.timeline { /*Postions the timeline cards correctly*/
    position: relative;
    width: 40%;
}
  
  .card { /*Creates color and border for timeline cards*/
    background-color: #a1cdf9;
    border: 3px solid #1eb0ff;
  }

  .left { /*Positioning for left timeline cards*/
    padding: 0px 40px 20px 0px;
  }
  .right { /*Positioning for right timeline cards*/
    padding: 0px 0px 20px 40px;
    left: 60%;
  }


.sub-anim { /*Sets animation for sub at bottom of paage*/
    animation: sub 10s linear infinite;
}

.time-sub { /*Makes sub in the timeline sway back and forth and sets postion for sticky feature*/
    animation: timelinesub 2s linear infinite;
    animation-direction: alternate;
    overflow: clip;
    top: 30%;
}


@keyframes sub { /*Annimation for the sub that crosses the bottom of the page*/
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes timelinesub { /*Swaying annimation for the sub that moves vertically*/
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}



/* -------------------- Submarine ----------------------*/

@keyframes pop-in { /* Pop up animation keyframe */
    0% { opacity: 0; transform: scale(0.1); }
    100% { opacity: 1; transform: scale(1); }
}

.submarine { /*Positions picture of sub*/
    position: relative;
    width: 40%;
}

.popout{  /* Ruleset for popout animation for info cards*/
    animation:pop-in 0.5s;
}

.submarine-body { /* Gradient Background for Submarine Page*/
    max-width:100%;
    height:auto;
    max-height:100%;
    background: linear-gradient(0deg, #020024 0%, #090979 35%, #0392CC 100%);
}

.text-container{ /* Specifies width for text containers*/
    width: 50%
}

.about-sub { /* Specifies animation properties for moving submarine image*/
    animation: timelinesub  linear infinite;
    animation-direction: alternate;
    overflow: clip;
    top: 3%;
}

.main-info-cards{ /*Postions the submarine info cards correctly*/
    position: relative;
}

.photo-gallery { /* Adjusts the size of the Photo Gallery */
    position: relative;
    width: 50%;
}

.sub-circle{
    z-index:400;
}

/* -------------------- Pricing ----------------------*/

.cardabout:hover { /*Adds hoving animation to pricing cards*/
    transform: scale(1.1);
    transition: transform 0.2s ease;
    border:3px solid rgb(255, 140, 0);
  }
  .card-body { /*Sets background color to pricing cards*/
    background-color:rgb(181, 196, 238);
  }


button{ /*Button that brings the user to the book now page (Added in later)*/
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #282A35;
    color: white;
    position: relative;
}

.ribbon1 {
    width: 80px;
    font-size: 19px;
    padding: 4px;
    position: absolute;
    right: -36px;
    top: -23px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color:  #000000;
    font-weight: bold;
    color: rgb(255, 214, 33);
  }
  .ribbon2 {
    width: 80px;
    font-size: 20px;
    padding: 4px;
    position: absolute;
    right: -36px;
    top: -23px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  .ribbon3 {
    width: 80px;
    font-size: 20px;
    padding: 4px;
    position: absolute;
    right: -36px;
    top: -23px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: rgb(14, 235, 14);
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
.cardabout { /* Creates standard size and spacing for the cards */
    width: 55vw;
    row-gap: 1ch;
    border: 3px solid black;
}

/*Other*/

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}


.footer{ /* footer background color */
    background-color: #16419e; 
}

.icon-white {  /* Color for icons */
    color: #FFF;
}

.nb-background-color {  /* navbar background color */
    background-image: linear-gradient(0deg, #0367b5 0%, #0287c5 35%, #bcdaea 100%);
}

.nbMenuItem {   
            /* navbar link text properties */
    color:white;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.row { 
    justify-content: center;
}

* {
 font-family: Montserrat;  
}

.username {
    background: linear-gradient(0deg, #b671ff 30%, #8f31d3 55%, #7b00ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;


}

/* -------------------- SignIn + Register ---------------------*/

table th{
    /*Keep column headers at the top as table is scrolled*/
    position: sticky;
    top: 0px; /* https://www.w3schools.com/cssref/pr_pos_top.php*/
    overflow-y: auto;

}


.dataForm{
    display: flex;
    justify-content: left;
    align-items: center;
}

.days{
    text-align: center;
    vertical-align: middle;
}

.headerBG{
    background-color: #e6e6e6;
}

.footerBG{
    background-color: #e6e6e6;
}

.ordered-List-item-font{
    font-size:22px;
}
.overview-font{
    font-size:25px;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temps-table{
    max-height: 250px;  /*prevent table from stretching to bottom of screen*/
    overflow: auto;
}

.temps{
    text-align: center;
    vertical-align: middle;
}

.nbMenuItem{
    font-size:25px;
    padding-right: 20px;
    padding-left: 20px;
}

.notes{
    font-size:20px;
}

/* -------------------- Depth ---------------------*/

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #FFA92B; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button for the alert */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Hover animation/color change for the close button */
  .closebtn:hover {
    color: black;
  }



  table th{
    /*Keep column headers at the top as table is scrolled*/
    position: sticky;
    top: 0px; /* https://www.w3schools.com/cssref/pr_pos_top.php*/
    overflow-y: auto;

}

.dataForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.form-select{
    width: 35vw;
}

.days{
    text-align: center;
    vertical-align: middle;
}

.headerBG{
    background-color: #e6e6e6;
}

.footerBG{
    background-color: #e6e6e6;
}

.ordered-List-item-font{
    font-size:22px;
}
.overview-font{
    font-size:25px;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temps-table{
    max-height: 250px;  /*prevent table from stretching to bottom of screen*/
    overflow: auto;
}

.temps{
    text-align: center;
    vertical-align: middle;
}

.nbMenuItem{
    font-size:25px;
    padding-right: 20px;
    padding-left: 20px;
}

.notes{
    font-size:20px;
}